<div class="flexOuterLeft">
  <div class="pictureFrameBig">
    <img ng-src="{{ $ctrl.mainImageUrl }}" class="album"/>
  </div>
  <div class="infoFrameBig">
    <div class="big">{{ $ctrl.album.title }}</div>
    <hr/>
    <div class="flexOuterCenterRel">
      <div class="albumInfo">{{ $ctrl.album.artist }}</div>
      <div class="albumInfo">{{ $ctrl.album.year }}</div>
      <div class="albumInfo">{{ $ctrl.album.label }}</div>
      <div class="footer">
        <div class="flexOuterCenter"><a href="#!/albums"><b>albums</b></a></div>
      </div>
    </div>
    <div class="flexOuterCenter">
      <div class="albumInfo">
        available&nbsp;{{ $ctrl.album.availability | checkmark }}
      </div>
    </div>
    <div class="flexOuterCenterPadRight">
      <ul ng-repeat="image in $ctrl.album.images">
        <li class="pictureFrameSmall">
          <img ng-src="{{ image }}" ng-click="$ctrl.setImage(image)" class="thumbC"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="trackListFrame">
    <div class="medium">track list</div>
    <ul ng-repeat="track in $ctrl.album.trackList" class="trackList">
      <li class="trackListItem">{{ track }} </li>
    </ul>
  </div>
</div>
